<section id="about">
	<div class="content_buffer">
	</div>
	<div class="about_us">
		<h1 class="section_header">About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
	</div>
	<div class="content_buffer">
	</div>
	<div class="side_bar">
		<h1 class="section_header">About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
	</div>
	<div class="content_buffer">
	</div>
</section>