
<section id="about">
	<h1 class="section_header">Company Overview</h1>
	<!-- <div class="content_buffer">
	</div> -->
	<div class="business">
		<p class="intro_info">ATS Tree Services is a <span class="bold">family owned & operated</span>, <span class="bold">fully insured</span> company servicing  <span class="bold">Bucks & Montgomery Counties</span>. Headquartered in Parkasie, PA on the Servin familys 20 acre farm, ATS is built on a <span class="bold">foundation of family</span> and is lead by Adam Servin's <span class="bold">passion for Horticulture & tree maintainence.</span> Specializing in <span class="bold">small to mid sized jobs</span>, the <span class="bold">professional services</span>, offered and executed by the Servin brothers, are <span class="bold">uniquley competitive</span> in the market.</p>
		<div class="business_icons">
			<div class="categories">
				<%= link_to image_tag("savings.png", class: "icons") %>
				<h1>Competitive Pricing & Savings</h1>
				<p class="description">ATS is able to operate with limited overhead in its day to day operations. Family members complete jobs, rather than employees. We don't buy expensive trucks; intsead, equipment purchases are made considering dependability and value. We dont spend on advertising, because we rely on word of mouth referrals from our customers. Simply stated, we save on expenses, and we are able to pass the savings on to you.</p>
			</div>
			<div class="categories">
				<%= link_to image_tag("communication.png", class: "icons") %>
				<h1>Personalized & Thoughtful Service</h1>
				<p class="description">Our company is founded on the values of our family. We’re Christians, and while we don’t push that on you, we try to exemplify that by walking worthy! We take the time to talk and LISTEN to you. We consider ALL your options, including creative ways to get the work done cheaper. No job is too small! We can come out to cut down one small tree...we even try to fit small jobs between big jobs while we are in the area. <!-- Perhaps you are dealing with fallen trees, or trees that are in danger of falling on your home.  Or maybe you just want to prune, or remove some trees to make your property look nicer. Look no further than ATS! -->As far as big jobs, we can clear cut up to one acre of woods in what we would comfortably quote as one project.<!--  If a job is too big, we have arrangements with some larger tree service companies that have a good reputation.  We send them jobs that are too big for us, and they send us some smaller jobs that they can't afford to do with their more expensive equipment and work crews. --></p>
			</div>
			<div class="categories">
				<%= link_to image_tag("handshake.png", class: "icons") %>
				<h1>Fully Insured, Professional Results</h1>
				<p class="description">We will always take time to understand your needs, schedule work at a time that is good for you, and make sure that we are doing your project the way you want it done! We are passionate about what we do, and our work speaks for itself. We don’t get paid until after the work is done and you are satisfied.</p>
			</div>
		</div>
	</div>
	<h2>The Servin Family</h2>
	<%= render 'home/gallery' %>
</section>