<section id="about">
	<div class="about_us">
		<h1 class="section_header">Who We Are</h1>
		<h2>Adam Servin</h2>
		<%= image_tag("adam.jpg", class: "profile") %>
		<p>ATS Tree Services is the latest Servin-family small-business venture. Adam Thor Servin (that's where the "ATS" comes from), is now 25 years old and a graduate of Oklahoma State University.</p>
		<p>Adam started working in the family businesses when he was old enough to walk! Later, he worked his way through college and gained experience with other employers at Midlantic Machinery, Haines and Kibblehouse, and Merck, Sharpe and Dohme.</p>
		<p>With his own savings, Adam has now purchased 2 trucks, a chipper, conveyor, 6-way log splitter, climbing and safety equipment, plus all the tools of the trade and other specialized machines.  Adam does all his own mechanical service on the equipment.  Other family members assist and work with Adam as the driver and entrepreneur behind ATS Tree Services.  We are proud of another family small business, and look forward to three more potential businesses as Adam's younger siblings work to save the money needed to start their own ventures in the future.</p>
		<p>David Servin with sons Adam, Alex, & Andrew, celebrating the Eagle Rank earned by all the Servin boys!</p>
	</div>
	<div class="business">
		<h1 class="section_header">How we do business</h1>
		<p>Perhaps you are dealing with fallen trees or trees that are in danger of falling on your home.  Or maybe you just want to prune or remove some trees to make your property look nicer.</p>
		<ul>
			<li>We don’t buy expensive new trucks!</li>
			<li>We work out of our 20-acre family farm and don’t support a commercial business front.</li>
			<li>We don’t pay a lot for advertising. You will get us our next job! It’s simple.  It works!</li>
			<li>Our work is done mostly by family members instead of employees.</li>
			<li>We take the time to talk and LISTEN to you. We take special care of senior citizens and appreciate their wisdom and all they have done.</li>
			<li>We consider ALL your options, including creative ways to get the work done cheaper.</li>
			<li>We treat you like part of our family, and in turn, you will treat us like part of yours!</li>
			<li>We’re Christians.  We don’t push that on you.  But we try to exemplify that by walking worthy!</li>
			<li>We don’t get paid till the end of the day, after the work is done and you are satisfied.</li>
			<li>We save on expenses.  But we are insured and do professional work.  We pass the savings on to you.<li>
		</ul>
		<p>This is a winning formula for customer service that has served our family well.  It’s the same work ethic and pride that our family has employed in several ventures since the 1930’s.  Simple!</p>
		<p>We will always take time to understand your needs, schedule work at a time that is good for you, and make sure that we are doing your project the way you want it done! Our family small-business tradition was established in 1930, and has now included 4 generations of family-run businesses.  Today, we still have two generations working together using proven small-business methods that enable us to provide superior service at competitive pricing and still make a comfortable living to support our own family!</p>
	</div>
	<!-- <div class="content_buffer">
	</div> -->
</section>