<section id="about">
	<div class="section_header">
	</div>
	<div class="content_buffer">
	</div>
	<div class="about_us">
		<h1 class="section_header">About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, velit, veniam quos molestiae nam quo corporis optio quae eligendi, quidem quas! Aut tempora qui illum asperiores molestias veritatis et non?</p>
	</div>
	<div class="content_buffer">
	</div>
	<div class="faqs">
		<h1 class="section_header">FAQS</h1>
<!-- 		<p>How is the pricing determined:  That depends on a number of factors including the number of trees, the work desired, the height and width of the trees, whether tree materials must be chipped and hauled away, how many assistants will be required, the safety factors involved, the proximity to buildings and other obstacles, and frankly, how nice you are (we love working for nice appreciative people).  In the end, the pricing must cover our expenses including equipment maintenance, labor, and a fair profit.</p>
		<p>How small of a job will you do?  We can come out to cut down one small tree if you like.  We try to fit small jobs between big jobs while we are in the area. That makes sense, doesn't it?</p>
		<p>How big of a job can you do?  We can clear cut up to one acre of woods in what we would comfortably quote as one project.</p>
		<p>What if a job is too big for ATS Tree Service: We have arrangements with some larger tree service companies that have a good reputation.  We send them jobs that are too big for us, and they send us some smaller jobs that they can't afford to do with their more expensive equipment and work crews.</p>
		<p>Are you insured?  Yes - fully insured!</p>
		<p>Can we save money if we do some of the work ourselves?  Yes, certainly.  We will try to work with creative solutions to help you save money if that is a concern of yours.</p>
		<p>Do you ever increase your price after you quote a job?  No, we stand on our word. Sometimes, we lose if we haven't anticipated all the issues.  But we are trustworthy for our customers, most of whom are repeat customers over time.</p>
		<p>Do I have to be home when you are working on my property?  That is your decision.</p>
		<p>Do I need to provide electricity or anything else when you work on my site?  No, we are fully portable and self-contained.  However, a cold glass of sweet iced tea on a hot day is welcomed!</p>
		<p>How far will you go from your base in Perkasie to do a job?  Bucks and Montgomery Counties are our territory, so to say.</p> -->
	</div>
	<div class="content_buffer">
	</div>
</section>