<section id="about">
	<div class="content_buffer">
	</div>
	<div class="about_us">
		<h1 class="section_header">Who We Are</h1>
		<h2>Adam Servin</h2>
		<p>ATS Tree Services is the latest Servin-family small-business venture. Adam Thor Servin (that's where the "ATS" comes from), is now 25 years old and a graduate of Oklahoma State University.</p>
		<p>Adam started working in the family businesses when he was old enough to walk! Later, he worked his way through college and gained experience with other employers at Midlantic Machinery, Haines and Kibblehouse, and Merck, Sharpe and Dohme.</p>
		<p>With his own savings, Adam has now purchased 2 trucks, a chipper, conveyor, 6-way log splitter, climbing and safety equipment, plus all the tools of the trade and other specialized machines.  Adam does all his own mechanical service on the equipment.  Other family members assist and work with Adam as the driver and entrepreneur behind ATS Tree Services.  We are proud of another family small business, and look forward to three more potential businesses as Adam's younger siblings work to save the money needed to start their own ventures in the future.</p>
		<p>David Servin with sons Adam, Alex, & Andrew, celebrating the Eagle Rank earned by all the Servin boys!</p>
	</div>
	<div class="content_buffer">
	</div>
	<div class="faqs">
		<h1 class="section_header">How We Do Business</h1>
		<p>Perhaps you are dealing with fallen trees or trees that are in danger of falling on your home.  Or maybe you just want to prune or remove some trees to make your property look nicer.</p>
		<ul>
			<li>We don’t buy expensive new trucks!</li>
			<li>We work out of our 20-acre family farm and don’t support a commercial business front.</li>
			<li>We don’t pay a lot for advertising. You will get us our next job! It’s simple.  It works!</li>
			<li>Our work is done mostly by family members instead of employees.</li>
			<li>We take the time to talk and LISTEN to you. We take special care of senior citizens and appreciate their wisdom and all they have done.</li>
			<li>We consider ALL your options, including creative ways to get the work done cheaper.</li>
			<li>We treat you like part of our family, and in turn, you will treat us like part of yours!</li>
			<li>We’re Christians.  We don’t push that on you.  But we try to exemplify that by walking worthy!</li>
			<li>We don’t get paid till the end of the day, after the work is done and you are satisfied.</li>
			<li>We save on expenses.  But we are insured and do professional work.  We pass the savings on to you.<li>
		</ul>
		<p>This is a winning formula for customer service that has served our family well.  It’s the same work ethic and pride that our family has employed in several ventures since the 1930’s.  Simple!</p>
		<p>We will always take time to understand your needs, schedule work at a time that is good for you, and make sure that we are doing your project the way you want it done! Our family small-business tradition was established in 1930, and has now included 4 generations of family-run businesses.  Today, we still have two generations working together using proven small-business methods that enable us to provide superior service at competitive pricing and still make a comfortable living to support our own family!</p>
<!-- 		<p>How is the pricing determined:  That depends on a number of factors including the number of trees, the work desired, the height and width of the trees, whether tree materials must be chipped and hauled away, how many assistants will be required, the safety factors involved, the proximity to buildings and other obstacles, and frankly, how nice you are (we love working for nice appreciative people).  In the end, the pricing must cover our expenses including equipment maintenance, labor, and a fair profit.</p>
		<p>How small of a job will you do?  We can come out to cut down one small tree if you like.  We try to fit small jobs between big jobs while we are in the area. That makes sense, doesn't it?</p>
		<p>How big of a job can you do?  We can clear cut up to one acre of woods in what we would comfortably quote as one project.</p>
		<p>What if a job is too big for ATS Tree Service: We have arrangements with some larger tree service companies that have a good reputation.  We send them jobs that are too big for us, and they send us some smaller jobs that they can't afford to do with their more expensive equipment and work crews.</p>
		<p>Are you insured?  Yes - fully insured!</p>
		<p>Can we save money if we do some of the work ourselves?  Yes, certainly.  We will try to work with creative solutions to help you save money if that is a concern of yours.</p>
		<p>Do you ever increase your price after you quote a job?  No, we stand on our word. Sometimes, we lose if we haven't anticipated all the issues.  But we are trustworthy for our customers, most of whom are repeat customers over time.</p>
		<p>Do I have to be home when you are working on my property?  That is your decision.</p>
		<p>Do I need to provide electricity or anything else when you work on my site?  No, we are fully portable and self-contained.  However, a cold glass of sweet iced tea on a hot day is welcomed!</p>
		<p>How far will you go from your base in Perkasie to do a job?  Bucks and Montgomery Counties are our territory, so to say.</p> -->
	</div>
	<div class="content_buffer">
	</div>
</section>