<section id="contact">
	<h1 class="section_header">Contact</h1>
	<div class="contact_info">
		<%= link_to image_tag("ATS_Logo.png", class: "contact_logo") %>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quisquam soluta fuga labore quis vero assumenda quod officia fugiat aliquid perferendis ullam eos, blanditiis enim dolor ducimus facere asperiores non.</p>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="contact_form">
		<h3>Send an email!</h3>
        <form action="MAILTO:erin.mahon14@gmail.com" method="post" enctype="text/plain">
            <input type="text" name="First Name" placeholder="First Name"><br>
            <input type="text" name="Last Name" placeholder="Last Name"><br>
            <input type="text" name="Email" placeholder="Email" placeholder="Email"><br>
            <input type="text" name="Comment" placeholder="Comment" size="40"><br><br>
            <div id="button">
                <button class="btn btn-primary next" type="submit">Send</button>
                <button class="btn btn-primary next" type="reset">Reset</button>
            </div>
        </form>
	</div>

</section>