<section id="contact">
	<div class="section_header">
	</div>
	<div class="contact_us">
		<h1 class="title">Contact</h1>
		<div class="contact_info">
			<ul>
				<li><%= image_tag("phone.png", class: "contact_icon") %> (267) 679-6483</li>
				</li><%= image_tag("email.png", class: "contact_icon") %> Adam@TreeHelp.net</li>
				<br><br>
				<li>215 Frontier Road</li>
				<li>Perkasie, PA</li>
				<li>United States</li>
				<li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.7655828557704!2d-75.21548428444946!3d40.36972187937061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c41c527bc5b92b%3A0xfccb7777a83c9f80!2s215+Frontier+Rd%2C+Perkasie%2C+PA+18944!5e0!3m2!1sen!2sus!4v1454887115425" width="auto" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></li>
			</ul>
		</div> 
		<div class="contact_form">
			<span class="call_to_action">Let's talk trees!</span>
			<h3>Send us an email today!</h3>
	        <form action="MAILTO:erin.mahon14@gmail.com" method="post" enctype="text/plain">
	            <input type="text" name="First Name" placeholder="First Name"><br>
	            <input type="text" name="Last Name" placeholder="Last Name"><br>
	            <input type="text" name="Email" placeholder="Email" placeholder="Email"><br>
	            <input type="text" name="Comment" placeholder="Comment" size="40"><br><br>
	            <div id="button">
	                <button class="btn btn-primary next" type="submit">Send</button>
	                <button class="btn btn-primary next" type="reset">Reset</button>
	            </div>
	        </form>
		</div>
	</div>
	<div class="section_header">
	</div>
</section>