<section id="contact">
	<div class="section_header">
	</div>
	<div class="contact_us">
		<h1 class="title">Contact</h1>
		<div class="contact_info">
			<%= link_to image_tag("ATS_Logo.png", class: "contact_logo") %>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quisquam soluta fuga labore quis vero assumenda quod officia fugiat aliquid perferendis ullam eos, blanditiis enim dolor ducimus facere asperiores non.</p>
			<ul>
				<li>215 Frontier Road</li>
				<li>Perkasie, PA</li>
				<li>United States</li>
				<li>Telephone: 2676796483</li>
				</li>Email: Adam@TreeHelp.net</li>
			</ul>
		</div>
		<div class="contact_form">
			<span class="call_to_action">Let's talk trees!</span>
			<h3>Send us an email today!</h3>
	        <form action="MAILTO:erin.mahon14@gmail.com" method="post" enctype="text/plain">
	            <input type="text" name="First Name" placeholder="First Name"><br>
	            <input type="text" name="Last Name" placeholder="Last Name"><br>
	            <input type="text" name="Email" placeholder="Email" placeholder="Email"><br>
	            <input type="text" name="Comment" placeholder="Comment" size="40"><br><br>
	            <div id="button">
	                <button class="btn btn-primary next" type="submit">Send</button>
	                <button class="btn btn-primary next" type="reset">Reset</button>
	            </div>
	        </form>
		</div>
	</div>
	<div class="section_header">
	</div>
</section>