 <section id="portfolio" class="gallery">
        <div class="gallery_image">
            <%= image_tag("servin_brothers.png") %>
            <h4>Lorem ipsum</h4>
        </div> 
        <div class="gallery_image">
            <%= image_tag("erin_adam_baby.jpg") %>
            <h4>Lorem ipsum</h4>
        </div> 
        <div class="gallery_image">
            <%= image_tag("servinz.png") %>
            <h4>Lorem ipsum</h4>
    </section>