 <section class="gallery">
    <h2>Who we are</h2>
    <div class="gallery_image">
        <%= image_tag("servin_brothers.png") %>
        <h4>The Servin Brothers: Alex, Adam & Andrew</h4>
    </div> 
    <div class="gallery_image">
        <%= image_tag("erin_adam_baby.jpg") %>
        <h4>Adam & his wife Erin</h4>
    </div> 
    <div class="gallery_image">
        <%= image_tag("servinz.png") %>
        <h4>The Servin Family: Adam, Alex, Andrew, Annika, David</h4>
</section>