 <section class="gallery">
    <h2>Who we are</h2>
    <div class="gallery_image">
        <%= image_tag("servin_brothers.png") %>
        <h4>The Servin Brothers: Brother 1, Adam & Brother 2</h4>
    </div> 
    <div class="gallery_image">
        <%= image_tag("erin_adam_baby.jpg") %>
        <h4>Adam & his wife Erin</h4>
    </div> 
    <div class="gallery_image">
        <%= image_tag("servinz.png") %>
        <h4>The Servin Family: Adam, Blank, Blank, Annika, Dad</h4>
</section>