<section id="services">
	<div class="content_buffer">
	</div>
	<div class="services_list">
		<h1 class="section_header">Our Services</h1>
		<ul>
			<li>Tree Pruning</li>
			<li>Tree Removal</li>
			<li>Emergency Tree Service</li>
			<li>Stump Grinding</li>
			<li>Firewood</li>
	 		<li>Difficult removal near electric lines or near a building</li>
	 		<li>Roof Patches</li>
	 		<li>Storm Clean-up</li>
	 	</ul>
	 </div>
	 <div class="content_buffer">
	</div>
</section>