<div id="slider" class="slider">
	<div class="container">
	    <div class="slide" id="slide_1">
			<%= image_tag("tree_path.png", class: "slider_photo") %>
	    </div>
	    <div class="slide" id="slide_2">
	    	<%= image_tag("servin_boys.png", class: "slider_photo") %>
	    </div>
	    <div class="slide" id="slide_3">
	   		<%= image_tag("adam_saw.png", class: "slider_photo") %>
	    </div>
	    <div class="slide" id="slide_4">
	   		<%= image_tag("cut_wood.png", class: "slider_photo") %>
	    </div>
	</div>
</div>
