<section id="home">
	<div id="slider" class="slider">
		<div class="container">
		    <div class="slide" id="slide_1" style="display: inline-block;">
		    	<%= image_tag("cut_wood_2.png", class: "slider_photo") %>
		    </div>
		    <div class="slide" id="slide_2">
		    	<%= image_tag("adam_saw.png", class: "slider_photo") %>
		    </div>
		    <div class="slide" id="slide_4">
		   		<%= image_tag("adam_sawing_2.png", class: "slider_photo") %>
		    </div>
		    <div class="slide" id="slide_5">
		   		<%= image_tag("servin_boys.png", class: "slider_photo") %>
		    </div>
		</div>
	</div>
</div>
