<div id="slider" class="slider">
	<div class="container">
	    <div style="display: inline-block;">
			<%= image_tag("tree_path.jpg", class: "photo") %>
	    </div>
	    <div>
	    	<%= image_tag("servin_boys.jpg", class: "photo") %>
	    </div>
	    <div>
	   		<%= image_tag("adam_saw.jpg", class: "photo") %>
	    </div>
	    <div>
	   		<%= image_tag("cut_wood.jpg", class: "photo") %>
	    </div>
	</div>
</div>
