<div class="about_us">
	<h1 class="section_header">Who We Are</h1>
	<h2>Adam Servin</h2>
	<%= image_tag("adam.jpg", class: "profile") %>
	<p>ATS Tree Services is a Family Owned & Operated Tree Services Company Servicing Bucks County, PA.
	<p>ATS Tree Services is the latest Servin-family small-business venture. Adam Thor Servin (that's where the "ATS" comes from), is now 25 years old and a graduate of Oklahoma State University.</p>
	<p>Adam started working in the family businesses when he was old enough to walk! Later, he worked his way through college and gained experience with other employers at Midlantic Machinery, Haines and Kibblehouse, and Merck, Sharpe and Dohme.</p>
	<p>With his own savings, Adam has now purchased 2 trucks, a chipper, conveyor, 6-way log splitter, climbing and safety equipment, plus all the tools of the trade and other specialized machines.  Adam does all his own mechanical service on the equipment.  Other family members assist and work with Adam as the driver and entrepreneur behind ATS Tree Services.  We are proud of another family small business, and look forward to three more potential businesses as Adam's younger siblings work to save the money needed to start their own ventures in the future.</p>
	<p>David Servin with sons Adam, Alex, & Andrew, celebrating the Eagle Rank earned by all the Servin boys!</p>
</div>