<section id="about">
	<div class="section_header">
	</div>
	<!-- <div class="content_buffer">
	</div> -->
	<div class="business">
		<h1 class="title">Company Overview</h1>
		<hr>
		<p class="intro_info">ATS Tree Services is a <span class="bold">family owned & operated, fully insured</span> company servicing  <span class="bold">Bucks & Montgomery Counties</span>. Headquartered in Parkasie, PA on the Servin family's 20 acre farm, ATS is built on a <span class="bold">foundation of family</span> and is lead by Adam Servin's <span class="bold">passion for Horticulture</span> & tree maintainence. Specializing in <span class="bold">small to mid sized jobs</span>, the <span class="bold">professional services</span>, offered and executed by the Servin brothers, are <span class="bold">uniquley competitive</span> in the market.</p>
		<hr>
		<br>
		<h3>How we do business</h3>
		<div class="business_icons">
			<div class="categories">
				<%= link_to image_tag("savings.png", class: "icons") %>
				<h2>Competitive Pricing<br> & Savings</h2>
				<p class="description">There is limited overhead in our day to day operations. Family members complete jobs. We don't buy expensive trucks; intsead, equipment purchases are made considering dependability and value. We dont spend on advertising, because we rely on word of mouth referrals from our customers. We save on expenses, and we are able to pass the savings on to you.</p>
			</div>
			<div class="categories">
				<%= link_to image_tag("communication.png", class: "icons") %>
				<h2>Personalized &<br> Thoughtful Service</h2>
				<p class="description">Our company is founded on the values of our family. We’re Christians, and while we don’t push that on you, we try to exemplify that by walking worthy! We take the time to talk and LISTEN to you. We consider ALL your options, including creative ways to get the work done cheaper. No job is too small! </p>
			</div>
			<div class="categories">
				<%= link_to image_tag("handshake.png", class: "icons") %>
				<h2>Gaurenteed<br> Professional Results</h2>
				<p class="description">We will always take time to understand your needs, schedule work at a time that is good for you, and make sure that we are doing your project the way you want it done! We are passionate about what we do, and our work speaks for itself. We don’t get paid until after the work is done and you are satisfied.</p>
			</div>
		</div>
	</div>
	<h3>Who we are</h3>
	<%= render 'home/gallery' %>
	<div class="section_header">
	</div>
</section>