// COLOR PALLETE VARIBALES

$default-green: #0e8441;
$default-dark-green: #193f1d;
$default-gray: #231f20;
$default-blue: rgb(52,73,96);
$default-yellow: #ffd800;
$default-white: #ffffff;
$default-black: #000000;
$default-orange: rgb(238,154,0);


@import 'grid';
@import 'gallery';

// FONT VARIABLE
$font-stack: 'Abel', sans-serif;

#about {
	@include row;
	// background: tint( $default-blue, 10% );
	// height: 100%;
	position: relative;
	clear: both;
	// margin-top: 20%;
	z-index: 0;
	// padding: 10%;
	// border: 2px solid black;
	// box-shadow: 0px 0px 110px #000;
}
.about_us {
	@include col(12,12);
	background: white;
}
.business {
	@include col(12,12);
	// @include row;
	// padding: 2%;
	background: $default-white;
}

// .profile {
// 	width: 45%;
// 	float: left;
// 	margin-right: 2%;
// }

// blockquote {
// 	font: 110% $font-stack;
// 	background: tint( $default-tan, 70% );
// 	color: $default-blue;
// 	padding: 2%;
// 	border: 4px solid black;
// 	box-shadow: 0px 0px 5px #000;
// 	letter-spacing: 0.1em;
// 	width: 90%;
// 	border-radius: 25px;
// }

.intro_info {
	color: $default-blue;
	font: 110% $font-stack;
	font-weight: lighter;
	// marg in: 0% 10%;
	// background: $default-blue;
	// padding: 2%;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

h2 {
	text-transform: uppercase;
	font: 110% $font-stack;
	text-align: center;
	letter-spacing: 0.15em;
	
}

h3 {
	text-transform: uppercase;
	font: 110% $font-stack;
	text-align: center;
	letter-spacing: 0.15em;
	background: $default-green;
	color: $default-white;
	padding: 0.5%;
}

p {
	font: 100% $font-stack;
	text-transform: none;
	letter-spacing: 0.075em;
	margin: 0% 10%;
	text-align: left;
}


.content_buffer {
	@include col(1,12);
}

.about_us {
	p {
		padding: 1%;
	}
}
.business_icons {
	@include row;
}
.categories {
	@include col(1,3);
}
.icons {
	@include col(1,2);
}

