// COLOR PALLETE VARIBALES
$default-orange: rgb(238,154,0);
$default-blue: rgb(52,73,96);
$default-red: rgb(139,58,58);
$default-tan: rgb(255,228,181);
$default-green: rgb(105,139,105);
$default-white: #ffffff;
$default-black: #000000;

@import 'grid';

#about {
	background: tint( $default-black, 10% );
	height: 100%;
	position: relative;
	clear: both;
	// margin-top: 20%;
	z-index: 0;
	padding: 10%;
}
.about_us {
	@include col(4,12);
	background: white;
}
.faqs {
	background: orange;
	@include col(5,12);
}