@import 'grid';

#about {
	background: black;
	height: 1000px;
	position: relative;
	clear: both;
	margin-top: 45%;
	z-index: 0;
}
.about_us {
	@include col(6,12);
	background: white;
}
.side_bar {
	background: orange;
	@include col(3,12);
}