// You can use Sass (SCSS) here: http://sass-lang.com/

// COLOR PALLETE VARIBALES
$default-orange: rgb(238,154,0);
$default-blue: rgb(52,73,96);
$default-red: rgb(139,58,58);
$default-tan: rgb(255,228,181);
$default-green: rgb(105,139,105);
$default-white: #ffffff;
$default-black: #000000;


// FONT VARIABLE
$font-stack: 'Abel', sans-serif;

#contact {
	background: $default-green;
	height: 100%;
	position: relative;
	clear: both;
	// margin-top: 45%;
	z-index: 0;
}