// COLOR PALLETE VARIBALES
$default-green: #0e8441;
$default-dark-green: #193f1d;
$default-gray: #231f20;
$default-blue: rgb(52,73,96);
$default-yellow: #ffd800;
$default-white: #ffffff;
$default-black: #000000;
$default-orange: rgb(238,154,0);

// FONT VARIABLES
$font-stack: 'Abel', sans-serif;

footer {
	position: relative;
	height: 50px;
	width: 100%;
	margin: 0 auto;
	background-color: $default-dark-green;
	clear: both;
	z-index: 0;
}

.footer {
	color: $default-white;
	text-align: center;
	font: 100% $font-stack;
}