// COLOR PALLETE VARIBALES
$default-green: #0e8441;
$default-dark-green: #193f1d;
$default-gray: #231f20;
$default-blue: rgb(52,73,96);
$default-yellow: #ffd800;
$default-white: #ffffff;
$default-black: #000000;
$default-orange: rgb(238,154,0);

// FONT VARIABLE
$font-stack: 'Abel', sans-serif;
@import 'grid';
// STYLE SLIDER IMAGE GALLERY
.gallery {
	@include row;
	.gallery_image {
		@include col(1,3);
		img {
			width: 100%;
			border: 2px solid $default-black;
		}
	 	p {
	 		font: 85% $font-stack;
	 		font-weight: lighter;
	 		margin-top: 0%;
	 	}
	}
}

