// COLOR PALLETE VARIBALES
$default-orange: rgb(238,154,0);
$default-blue: rgb(52,73,96);
$default-red: rgb(139,58,58);
$default-tan: rgb(255,228,181);
$default-green: rgb(105,139,105);
$default-white: #ffffff;
$default-black: #000000;
// FONT VARIABLE
$font-stack: 'Abel', sans-serif;
@import 'grid';
// STYLE SLIDER IMAGE GALLERY
.gallery {
	@include row;
	.gallery_image {
		@include col(1,3);
		img {
			width: 100%;
			border: 2px solid $default-black;
		}
	 	p {
	 		font: 85% $font-stack;
	 		font-weight: lighter;
	 		margin-top: 0%;
	 	}
	 	:hover {
	 		opacity: 0.7;
	 	}
	}
}
