
// COLOR PALLETE VARIBALES
$default-green: #0e8441;
$default-dark-green: #193f1d;
$default-gray: #231f20;
$default-blue: rgb(52,73,96);
$default-yellow: #ffd800;
$default-white: #ffffff;
$default-black: #000000;
$default-orange: rgb(238,154,0);
// FONT VARIABLE
$font-stack: 'Abel', sans-serif;

// NESTED NAV STYLING
nav {
	text-decoration: none;
	text-transform: uppercase;
	font: 110% $font-stack;
	position: fixed;
	z-index: 1;
	margin: 1%;
  @media only screen and (max-width: 768px) {
            margin-top: 5%;
            height: 50px;
          }
	li {
		display: inline-block;
  		position: relative;
  		a {
  			color: $default-white;
      		display: block;
      		text-decoration: none;
      	&:hover { background: $default-green; color: $default-dark-green; text-decoration: none; }
  		}
	}
	ul {
		list-style: none;
      	top: 100%;
     	  background: $default-dark-green;
      	padding: 2px;
        // margin-left: 20%;
        width: 100%;
        text-align: center;
        font: 80% $font-stack;
        margin-left: 20%;
        // margin-top: -10%;
		li {
			a {
				color: $default-white;
       			display: block;
        		padding: 8px 10px;
        		text-decoration: none;
			}
        	&:hover { 
        		background: $default-blue; 
        		color: $default-white; 
        	}
          @media only screen and (max-width: 768px) {
            font: 70% $font-stack;
          }
        }
    }
    &.is-selected {
    	a { 
    		background: $default-green; 
    		color: $default-white; 
    	}
    	ul { 
    		display: block; 
    	}
	}
}

// /*hamburger dropdown menu */

.menu {
  color: $default-white;
  @media only screen and (max-width: 768px) {
            display: none;
          }
}

.menu-btn span {
	display: block;
	width: 50px;
	height: 6px;
	margin: 4px 0;
	background: $default-green;
	z-index: 99;
}
.responsive-menu{
	display: none;
}
.expand {
	display: block !important; 
  
  // width: 30%;

}
.mobile-nav {
	float: left;
	opacity: 0.9;
}

