// COLOR PALLETE VARIBALES
$default-green: #0e8441;
$default-dark-green: #193f1d;
$default-gray: #231f20;
$default-blue: rgb(52,73,96);
$default-yellow: #ffd800;
$default-white: #ffffff;
$default-black: #000000;
$default-orange: rgb(238,154,0);

@import 'grid';

$font-stack: 'Amaranth', sans-serif;
$font-script: 'Bad Script', cursive;

#services {
	@include row;
	clear: both;
	margin-top: 20%;
	@media only screen and (max-width: 1024px) {
  	margin-top: 15%;
	}
  @media only screen and (max-width: 840px) {
  	margin-top: 12%;
	}
	@media only screen and (max-width: 750px) {
  	margin-top: 5%;
	}
  @media only screen and (max-width: 660px) {
  	margin-top: 1%;
	}
  @media only screen and (max-width: 660px) {
  	margin-top: -3%;
	}
  @media only screen and (max-width: 550px) {
  	margin-top: -10%;
	}
  @media only screen and (max-width: 500px) {
  	margin-top: -15%;
	}
  @media only screen and (max-width: 450px) {
  	margin-top: -25%;
	}
  @media only screen and (max-width: 405px) {
  	margin-top: -30%;
	}
  @media only screen and (max-width: 380px) {
  	margin-top: -35%;
	}
  @media only screen and (max-width: 360px) {
  	margin-top: -40%;
	}
  @media only screen and (max-width: 340px) {
  	margin-top: -50%;
	}
  @media only screen and (max-width: 310px) {
  	margin-top: -60%;
	}
	background: $default-white;
	box-shadow: 0px 0px 110px #000;
	z-index: 1;
	width: 100%;
	.services_list {
		background: $default-white;
		@include col(12,12);
		color: black;
		ul {
			@include row;
			font: 250% $font-stack;
			@media only screen and (max-width: 640px) {
			    font: 200% $font-stack;
			}
			text-transform: uppercase;
			letter-spacing: 0.15em;
			text-align: center;
			color: $default-white;
			li {
				@include col(1,5);
				@media only screen and (max-width: 874px) {
    				width: 40%;
    				margin: 2%;
          }
          @media only screen and (max-width: 500px) {
            width: 80%;
            display: inline;
            }
				list-style-type: none;
				float: left;
				height: 300px;
				@media only screen and (max-width: 1024px) {
    				height: 230px;
  				}
  				@media only screen and (max-width: 1024px) {
    				height: 210px;
  				}
  				@media only screen and (max-width: 767px) {
    				height: 200px;
  				}
  				@media only screen and (max-width: 767px) {
    				width: 40%;
  				}
				padding: 2%;
				margin: 2%;
				background: rgba( $default-gray, 1);
			}
			.smaller {
				font: 90% $font-stack;
				@media only screen and (max-width: 1024px) {
    				font: 70% $font-stack;
  				}
				letter-spacing: .05em;
			}
		}
	}
}
.symbol {
	height: auto;
	width: 100%;
	// max-height: 100%;
	padding: 5%;
	// float: left;
	@media only screen and (max-width: 874px) {
    	width: auto;
    	height: 95%;
    	padding: 5%;
    }
    @media only screen and (max-width: 640px) {
    	width: auto;
    	height: 85%;
    	padding: 5%;
    }
    @media only screen and (max-width: 569px) {
    	width: auto;
    	height: 70%;
    	margin-top: 1%;
    	padding: 2%;
    }
}
