// COLOR PALLETE VARIBALES
$default-green: #0e8441;
$default-dark-green: #193f1d;
$default-gray: #231f20;
$default-blue: rgb(52,73,96);
$default-yellow: #ffd800;
$default-white: #ffffff;
$default-black: #000000;
$default-orange: rgb(238,154,0);

@import 'grid';

$font-stack: 'Amaranth', sans-serif;
$font-script: 'Bad Script', cursive;


#services {
	@include row;
	clear: both;
	margin-top: 20%;
	background: $default-white;
	box-shadow: 0px 0px 110px #000;
	// height: 100%;
	// position: relative;
	// clear: both;
	// padding: 5%;
	// margin-top: 45%;
	z-index: 1;
	width: 100%;
	.services_list {
		// background: $default-white;
		@include col(12,12);
		color: black;
		// border: 2px solid black;
		// box-shadow: 0px 0px 5px #000;
		ul {
			text-transform: uppercase;
			font: 130% $font-stack;
			letter-spacing: 0.15em;
			text-align: center;
			color: $default-white;
			li {
				list-style-type: none;
				border: 5px solid $default-blue;
				width: 20%;
				float: left;
				height: 300px;
				padding: 2%;
				margin: 2%;
				background: rgba( $default-gray, 1);
				box-shadow: 0px 0px 5px #000;
			}
			.smaller {
				font: 50% $font-stack;
				letter-spacing: .05em;
			}
		}

	}
}
.symbol {
	width: 100%;
	// max-height: 100%;
	padding: 10%;
}




