// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLOR PALLETE VARIBALES
$default-orange: rgb(238,154,0);
$default-blue: rgb(52,73,96);
$default-red: rgb(139,58,58);
$default-tan: rgb(255,228,181);
$default-green: rgb(105,139,105);
$default-white: #ffffff;
$default-black: #000000;


// FONT VARIABLE
$font-stack: Helvetica, sans-serif;

@import 'bourbon';


@import 'nav';
@import 'slider';
@import 'footer';
@import 'about';
@import 'services';
@import 'contact';
@import 'grid';

body {
	background: tint( $default-black, 30% );
}
header {
	background: tint( $default-green, 10% );
	height: 100px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 15;
	@media only screen and (max-width: 768px) {
    	height: 65px;
  	}
  	.quick_contact {
  		width: 100%;
  		height: 25px;
  		z-index: 5;
  		background: tint( $default-blue, 10% );
  	}

}

#logo {
	width: 15%;
	float: left;
	// position: fixed;
	z-index: 20;
	margin-left: 40%;
	// height: 80%;
	// background: tint( $default-black, 10% );
}

section {
	@include row;
	padding-top: 5%;
	font-size: 1em;
}

.welcome_message {
	position: relative;
	// border: 5px solid black;
	height: 200px;
	width: 100%;
	// margin-top: 2%;
	color: blue;
	background: tint( $default-black, 10% );
	z-index: 5;
	padding: 2%;
	display: none;
	h1 {
		color: white;
		font: 160% $font-stack;
		z-index: 50;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		font-weight: lighter;
	}
	h2 {
		@extend h1;
		font: 140% $font-stack;
	}
	.intro {
		width: 40%;
	}
}

// .section_header {
// 	@include col(3,5);
// }

.content_buffer {
	@include col(1,12);
	background: green;
}
