// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLOR PALLETE VARIBALES
$default-orange: rgb(238,154,0);
$default-blue: rgb(52,73,96);
$default-red: rgb(139,58,58);
$default-tan: rgb(255,228,181);
$default-green: rgb(105,139,105);
$default-white: #ffffff;
$default-black: #000000;

@import 'bourbon';


@import 'nav';
@import 'slider';
@import 'footer';
@import 'about';
@import 'services';
@import 'contact';
@import 'grid';

header {
	background: tint( $default-green, 10% );
	height: 100px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 15;
}

#logo {
	width: 15%;
	float: right;
	// position: fixed;
	z-index: 20;
	margin-bottom: -5%;
	// background: tint( $default-black, 10% );
}

section {
	@include row;
	padding-top: 5%;
}

// .section_header {
// 	@include col(3,5);
// }

.content_buffer {
	@include col(1,12);
	background: green;
}