// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLOR PALLETE VARIBALES
$default-green: #0e8441;
$default-dark-green: #193f1d;
$default-gray: #231f20;
$default-blue: rgb(52,73,96);
$default-yellow: #ffd800;
$default-white: #ffffff;
$default-black: #000000;
$default-orange: rgb(238,154,0);



// FONT VARIABLE
$font-stack: 'Abel', sans-serif;
$font-header: 'Open Sans Condensed', sans-serif;
$font-script: 'Bad Script', cursive;


@import 'bourbon';


@import 'nav';
@import 'slider';
@import 'footer';
@import 'about';
@import 'services';
@import 'contact';
@import 'grid';

body {
	// background: tint( $default-black, 30% );
}
header {
	background: rgba( $default-blue, .8);
	border: 4px solid $default-dark-green;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 15;
	box-shadow: 0px 0px 110px #000;
	@media only screen and (max-width: 768px) {
    	height: 65px;
  	}

#quick_contact {
	height: 100%;
	float: right;

}
.quick_contact {
	position: relative;
	float: right;
	width: 10%;
	height: auto;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	// margin-top: 10%;
	color: $default-yellow;
	font-weight: bold;
	ul {
		list-style-type: none;
		text-align: center;
		// padding: 1%;
		// background: rgba( $default-yellow, .8 );
		width: 100%;
		text-indent: none;
		padding: 1%;
		margin: 0;
		li {
			font: 100% $font-stack;
			text-decoration: none;
			display: inline-block;
			text-indent: none;
			margin: 0;
			width: 100%;
			
		}
	}
}

}

#logo {
	width: 15%;
	// position: fixed;
	float: right;
	z-index: 25;
	margin-right: 2%;
	// height: 80%;
	// background: tint( $default-black, 10% );
}

section {
	clear: both;
	// @include row;
	// padding-top: 5%;
	font-size: 1em;
	// margin-top: 5%;
	// box-shadow: 0px 0px 110px #000;
}

.content_buffer {
	@include col(1,12);
	background: green;
}

.background {
	width: 100%;
	height: 300px;
}

.parallax {
	z-index: 0;
	position: relative;
}

.section_header {
	height: 100%;
	background: $default-dark-green;
	font: 250% $font-header;
	color: $default-white;
	z-index: 100;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.2em;
	padding: 1%;
	// box-shadow: 0px 0px 50px #;
}

h1 {
	text-transform: uppercase;
	font: 325% $font-header;
	text-align: center;
	font-weight: bold;
	margin: 0;
	color: $default-gray;
	// background: rgba( $default-gray, .8 );
	margin: 1%;
	letter-spacing: 0.28em;

}

hr {
	margin: 1%;
	
}
